# WordPress core files
/wp-admin/
/wp-includes/
/wp-login.php
/wp-settings.php
/wp-load.php
/index.php
/xmlrpc.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-cron.php
/wp-links-opml.php
/wp-mail.php
/wp-signup.php
/wp-trackback.php

wp-content/languages/
wp-content/plugins/*
!wp-content/plugins/reviews-admin-table.php
wp-content/themes/twentytwentyfive/
wp-content/themes/berezkino/assets/css/style.css
wp-content/themes/berezkino/assets/css/style.min.css
wp-content/themes/index.php
wp-content/upgrade/
wp-content/upgrade-temp-backup/
wp-content/uploads/
wp-content/index.php

.htaccess

.tasks