.advantages
  &__wrapper
    position: relative
    display: grid
    grid-template-columns: repeat(2, 35%)
    grid-template-rows: repeat(3, 1fr)
    grid-auto-flow: column
    justify-content: space-between
    row-gap: 16px
  &__bg
    position: absolute
    bottom: 0
    right: 50%
    transform: translateX(50%)
    z-index: -1
    width: 522px
  &__item
    display: flex
    align-items: center
    column-gap: 24px
    padding: 36px
    background: #FFFFFF
    border: 1px solid #ECECEC
    border-radius: 28px
    box-shadow: $box-shadow-xsmall
    & > span
      font-family: 'Comfortaa'
      font-weight: 700
      font-size: 36px
      line-height: 50px
      text-transform: uppercase
      color: $base-color
    & > p
      font-size: 20px
      line-height: 30px
      color: #1E1E1E
